html, body {
    height: 100%;
    background-color: black;
    font-family: 'LED Digital 7', sans-serif;
    color:blueviolet;
}

#testDiv {
    border: 5px solid blueviolet;
    border-radius: 60%;
    padding: 10%;
}
.container {
    font-size: 450%;
    text-align: center;
}
